In [1]:
import pandas as pd
import numpy as np

data_path = '/Users/tanmaysagarhuria/Downloads/FinalVA2021.xlsx' 
data = pd.read_excel(data_path)

In [2]:
data.replace(-8, np.nan, inplace=True)

In [3]:
data.drop_duplicates(inplace=True)

In [5]:
print(data.head())

  Lower tier local authorities Code Lower tier local authorities  \
0                         E06000001                   Hartlepool
1                         E06000001                   Hartlepool
2                         E06000001                   Hartlepool
3                         E06000001                   Hartlepool
4                         E06000001                   Hartlepool

   Number of adults in employment in household (5 categories) Code  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Number of adults in employment in household (5 categories)  \
0                                     Does not apply
1                                     Does not apply
2                                     Does not apply
3                                     Does not apply
4                                     Does not apply

   Highest level of qualification (7 categories) Code  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Highest level of qualification (7 categories)  \
0                                Does not apply
1                                Does not apply
2                                Does not apply
3                                Does not apply
4                                Does not apply

   Occupation (current) (10 categories) Code  \
0                                        NaN
1                                        1.0
2                                        2.0
3                                        3.0
4                                        4.0

                Occupation (current) (10 categories)  Observation
0                                     Does not apply            0
1        1. Managers, directors and senior officials            0
2                        2. Professional occupations            0
3  3. Associate professional and technical occupa...            0
4      4. Administrative and secretarial occupations            0

In [6]:
data = data[data['Observation'] != 0]

In [7]:
data.head()

,Lower tier local authorities Code,Lower tier local authorities,Number of adults in employment in household (5 categories) Code,Number of adults in employment in household (5 categories),Highest level of qualification (7 categories) Code,Highest level of qualification (7 categories),Occupation (current) (10 categories) Code,Occupation (current) (10 categories),Observation
70,E06000001,Hartlepool,0.0,No adults in employment in household,NaN,Does not apply,NaN,Does not apply,4612
80,E06000001,Hartlepool,0.0,No adults in employment in household,0.0,No qualifications,NaN,Does not apply,10699
88,E06000001,Hartlepool,0.0,No adults in employment in household,0.0,No qualifications,8.0,"8. Process, plant and machine operatives",1
90,E06000001,Hartlepool,0.0,No adults in employment in household,1.0,Level 1 and entry level qualifications: 1 to 4...,NaN,Does not apply,2561
94,E06000001,Hartlepool,0.0,No adults in employment in household,1.0,Level 1 and entry level qualifications: 1 to 4...,4.0,4. Administrative and secretarial occupations,1

In [8]:
data = data[data['Number of adults in employment in household (5 categories)'] != 'Does not apply']

In [9]:
category_to_numeric = {
    '1 adult in employment': 1,
    '2 adults in employment': 2,
    '3 or more adults in employment': 3,
    'No adults in employment': 0
}

# Apply the mapping to the 'Number of adults in employment in household (5 categories)' column
data['Number of adults in employment in household (5 categories)'] = data['Number of adults in employment in household (5 categories)'].map(category_to_numeric)

# Check the transformation and show the first few rows to verify
data.head()

,Lower tier local authorities Code,Lower tier local authorities,Number of adults in employment in household (5 categories) Code,Number of adults in employment in household (5 categories),Highest level of qualification (7 categories) Code,Highest level of qualification (7 categories),Occupation (current) (10 categories) Code,Occupation (current) (10 categories),Observation
70,E06000001,Hartlepool,0.0,NaN,NaN,Does not apply,NaN,Does not apply,4612
80,E06000001,Hartlepool,0.0,NaN,0.0,No qualifications,NaN,Does not apply,10699
88,E06000001,Hartlepool,0.0,NaN,0.0,No qualifications,8.0,"8. Process, plant and machine operatives",1
90,E06000001,Hartlepool,0.0,NaN,1.0,Level 1 and entry level qualifications: 1 to 4...,NaN,Does not apply,2561
94,E06000001,Hartlepool,0.0,NaN,1.0,Level 1 and entry level qualifications: 1 to 4...,4.0,4. Administrative and secretarial occupations,1

In [10]:
data = data.drop('Number of adults in employment in household (5 categories)', axis=1)

In [11]:
remaining_columns = data.columns

In [12]:
remaining_columns

Index(['Lower tier local authorities Code', 'Lower tier local authorities',
       'Number of adults in employment in household (5 categories) Code',
       'Highest level of qualification (7 categories) Code',
       'Highest level of qualification (7 categories)',
       'Occupation (current) (10 categories) Code',
       'Occupation (current) (10 categories)', 'Observation'],
      dtype='object')

In [13]:
output_file_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/CleanedData.xlsx'

# Save the DataFrame to an Excel file
data.to_excel(output_file_path, index=False)

In [14]:
print(f"DataFrame is saved as an Excel file at: {output_file_path}")

DataFrame is saved as an Excel file at: /Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/CleanedData.xlsx

In [15]:
data_cleaned = data.dropna()

In [16]:
data['Occupation (current) (10 categories) Code'] = data['Occupation (current) (10 categories) Code'].fillna(0)

In [17]:
output_file_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/CleanedData2.xlsx'
data.to_excel(output_file_path, index=False)

In [18]:
data['Highest level of qualification (7 categories) Code'] = data['Highest level of qualification (7 categories) Code'].fillna(0)

In [20]:
output_file_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/CleanedData3.xlsx'
data.to_excel(output_file_path, index=False)

In [21]:
data.rename(columns={
    "Number of adults in employment in household (5 categories) Code": "Number of adults in employment in household"
}, inplace=True)

In [ ]:
Highest level of qualification (7 categories) Code

In [22]:
data.rename(columns={
    "Highest level of qualification (7 categories) Code": "Highest level of qualification (7 categories) score"
}, inplace=True)

In [23]:
data.rename(columns={
    "Lower tier local authorities Code": "Region code"
}, inplace=True)

In [24]:
data.rename(columns={
    "Lower tier local authorities": "Region Name"
}, inplace=True)

In [25]:
output_file_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/CleanedData4.xlsx'
data.to_excel(output_file_path, index=False)